@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

<div class="row">
  <nav>
     <ul>
        <li><a href="/profile">@messages("profile")</a></li>
        @restrict(roles = List(Array("product"))) {
            <li>
               <a id="product" href="/product_list">@messages("products")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a id="product_list" href="/product_list">@messages("list")</a></li>
                     @restrict(roles = List(Array("productCreate"))) {
                      <li><a id="product_add" href="/product_add">@messages("new")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }
        @restrict(roles = List(Array("vendor"))) {
            <li>
               <a id="vendor" href="/vendor_list">@messages("vendors")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a id="vendor_list" href="/vendor_list">@messages("list")</a></li>
                     @restrict(roles = List(Array("vendorCreate"))) {
                      <li><a id="vendor_add" href="/vendor_add">@messages("new")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }
        @restrict(roles = List(Array("customer"))) {
            <li>
               <a id="customer" href="/customer_list/1">@messages("customers")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a id="customer_list" href="/customer_list/1">@messages("list")</a></li>
                     @restrict(roles = List(Array("customerCreate"))) {
                      <li><a id="customer_add" href="/customer_add">@messages("new")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }
        @restrict(roles = List(Array("productRequest"))) {
            <li>
               <a id="product_request" href="/productRequest_list">@messages("orders")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a id="product_request_list" href="/productRequest_list">@messages("list")</a></li>
                     @restrict(roles = List(Array("productRequestCreate"))) {
                      <li><a id="product_request_add" href="/productRequest_add">@messages("new")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }

        @restrict(roles = List(Array("report"))) {
            <li>
               <a id="report" href="/reporte_list">@messages("reports")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a href="/reporte_list">@messages("list")</a></li>
                     @restrict(roles = List(Array("balanceShow"))) {
                      <li><a id="report_balance" href="/reportes_balance">@messages("balanceSheet")</a></li>
                     }
                     @restrict(roles = List(Array("diaryShow"))) {
                      <li><a id="report_diary" href="/reportes_diary">@messages("dayBook")</a></li>
                     }
                     @restrict(roles = List(Array("financeShow"))) {
                      <li><a id="result_finance" href="/result_finance">@messages("financeResult")</a></li>
                     }
                     @restrict(roles = List(Array("mayorShow"))) {
                      <li><a id="report_mayor" href="/reportes_mayor">@messages("mayorBook")</a></li>
                     }
                     @restrict(roles = List(Array("sumasSaldosShow"))) {
                      <li><a id="report_sumas" href="/reportes_sumasYSaldos">@messages("trialBalance")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }

        @restrict(roles = List(Array("transaction"))) {
            <li>
               <a id="transaction" href="/transaction_list">@messages("transactions")<span class="caret"></span></a>
               <div>
                  <ul>
                     <li><a id="transaction_list" href="/transaction_list">@messages("list")</a></li>

                     @restrict(roles = List(Array("transaction"))) {
                      <li><a id="transaction_banking" href="/transaction_list">@messages("banking")</a></li>
                     }
                     @restrict(roles = List(Array("transaction"))) {
                      <li><a id="transaction_sales" href="/transaction_list">@messages("sales")</a></li>
                     }
                     @restrict(roles = List(Array("transaction"))) {
                      <li><a id="transaction_expenses" href="/transaction_list">@messages("expenses")</a></li>
                     }
                     @restrict(roles = List(Array("transaction"))) {
                      <li><a id="transaction_registers" href="/transaction_list">@messages("registers")</a></li>
                     }
                     
                  </ul>
               </div>
            </li>
        }

        @restrict(roles = List(Array("setting"))) {
            <li>
               <a id="setting" href="/setting_show">@messages("settings")<span class="caret"></span></a>
               <div>
                  <ul>
                     @restrict(roles = List(Array("settingShow"))) {
                      <li><a id="setting_show" href="/setting_show">@messages("show")</a></li>
                     }
                     @restrict(roles = List(Array("settingEdit"))) {
                      <li><a id="setting_update" href="/setting_update">@messages("edit")</a></li>
                     }
                  </ul>
               </div>
            </li>
        }
     </ul>
  </nav>

  <div class="container">
  <a href="/logout">@messages("singOut")</a>
</div>
</div>
