@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Account, children: Seq[Account], transactions: Seq[TransactionDetail])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("accountList"))) {
            <a href="/account_list" class="btn btn-info btn-sm">@messages("toList")</a>
        }
        @restrict(roles = List(Array("accountEdit"))) {
            <a href="/account_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
        }
        @restrict(roles = List(Array("accountDelete"))) {
           <a href="/account_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> @messages("code"): </div>
            <div style="display: inline-block;" id="code">@row.code</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("name"): </div>
            <div style="display: inline-block;" id="name">@row.name</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("type"): </div>
            <div style="display: inline-block;" id="type_1">@row.type_1</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("description"): </div>
            <div style="display: inline-block;" id="description">@row.description</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("child"): </div>
            <div style="display: inline-block;" id="child">@row.child</div>
        </div>
    </div>

    <div>@messages("accountChildren")</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="children">
            <thead>
                <tr>
                    <th>@messages("id")</th>
                    <th>@messages("code")</th>
                    <th>@messages("name")</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(child <- children) {
                    <tr>
                        <td>
                            @child.id
                        </td>
                        <td>
                            @child.code
                        </td>
                        <td>
                            @child.name
                        </td>
                        <td>
                            @restrict(roles = List(Array("accountEdit"))) {
                                <a href="/account_update/@child.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                            }
                            @restrict(roles = List(Array("accountDelete"))) {
                                <a href="/account_remove/@child.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                            }
                            @restrict(roles = List(Array("accountShow"))) {
                                <a href="/account_show/@child.id" class="btn btn-info btn-sm">@messages("view")</a>
                            }
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>@messages("detail")</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>@messages("date")</th>
                    <th>@messages("folio")</th>
                    <th>@messages("debit")</th>
                    <th>@messages("credit")</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(child <- transactions) {
                    <tr>
                        <td>
                            @child.transactionDate
                        </td>
                        <td>
                            @child.id
                        </td>
                        <td>
                            @child.debit
                        </td>
                        <td>
                            @child.credit
                        </td>
                        <td>
                           @restrict(roles = List(Array("transactionDetailEdit"))) {
                               <a href="/transactionDetail_update/@child.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                           }
                           @restrict(roles = List(Array("transactionDetailDelete"))) {
                               <a href="/transactionDetail_remove/@child.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                           }
                           @restrict(roles = List(Array("transactionDetailShow"))) {
                               <a href="/transactionDetail_show/@child.id" class="btn btn-info btn-sm">@messages("view")</a>
                           }
                       </td> 
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>@messages("total")</td>
                    <td></td>
                    <td><div style="display: inline-block;" id="totalDebit"></div></td>
                    <td><div style="display: inline-block;" id="totalCredit"></div></td>
                </tr>
            </tfoot>
        </table>
    </div>

}
