@(cliente: Form[CreateClienteForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    
    <div class="table table-bordered">
        <table class="table table-bordered" id="clientes">
            <thead>
                <tr>
                    <th>@messages("name")</th>
                    <th>@messages("ci")</th>
                    <th>@messages("company")</th>
                </tr>
            </thead>
        </table>
    </div>
}
