@(handler: be.objectify.deadbolt.scala.DeadboltHandler, companys: Seq[Company])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Lista") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("companyCreateDEV"))) {
            <a href="/company_add" class="btn btn-primary btn-sm">@messages("new")</a> 
        }
        @restrict(roles = List(Array("companyListDEV"))) {
            <a href="/company_list/1" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
    </div>

    <div class="table table-bordered">
        <table class="table table-bordered conted" id="rows">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@messages("code")</th>
                    <th>@messages("name")</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody>
            @for(company <- companys) {
                <tr>
                    <td></td>
                    <td>@company.id</td>
                    <td>@company.name</td>
                    <td>
                        @restrict(roles = List(Array("companyEdit"))) {
                            <a href="/company_update/@company.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                        }
                        @restrict(roles = List(Array("companyDelete"))) {
                            <a href="/company_remove/@company.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                        }
                        @restrict(roles = List(Array("companyShow"))) {
                            <a href="/company_show/@company.id" class="btn btn-info btn-sm">@messages("view")</a>
                        }
                    </td>

                </tr>
            }
            </tbody>
        </table>
        <style type="text/css">
        </style>
    </div>
}
