@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateCustomerForm])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Add") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productList"))) {
            <a href="/customer_list/1" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
    </div>
    @form(routes.CustomerController.add()) {
        @inputText(row("name"), 'id -> "name")
        @inputText(row("carnet"), 'id -> "ci")
        @inputText(row("phone"), 'id -> "phone")
        @inputText(row("address"), 'id -> "address")
        @inputText(row("account"), 'id -> "accountId")
        <input id="addSubmit" type="submit" value=@messages("save") class="btn btn-primary btn-sm"/>
        <a href="customer_list/1" class="btn btn-primary btn-sm">@messages("cancel")</a>
    }
}
