@(handler: be.objectify.deadbolt.scala.DeadboltHandler, discountId: Long, row: Form[CreateDiscountDetailForm], discounts: Map[String, String], customers: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("New") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("discountReportShow"))) {
            <a href="/discountReport_show/@discountId" class="btn btn-info btn-sm">@messages("report")</a> 
        }
    </div>

    <div style="display: inline-block;">
        @form(routes.DiscountDetailController.searchCustomerPost()) {
            @inputText(row("search"))
            <input id="searchSubmit" type="submit" value="Search Customer" class="btn btn-primary btn-sm"/>
        }        
    </div>

    @form(routes.DiscountDetailController.add()) {
        @select(field = row("customerId"), options = options(customers))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("discount"))
        <input id="addSubmit" type="submit" value=@messages("save") class="btn btn-primary btn-sm"/>
        <a href="/discountReport_show/@discountId" class="btn btn-primary btn-sm">@messages("cancel")</a>
        @select(field = row("discountReport"), options = options(discounts), 'hidden -> "true", '_label -> "")
    }
}
