@()(implicit messages: Messages)
@import helper._

@main("Add") {
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>@messages("product")</th>
                    <th>@messages("vendor")</th>
                    <th>@messages("discount")</th>
                    <th>@messages("amountLeft")</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
