@(discounts: Seq[DiscountDetail], stardDate: String, endDate: String, total: String, setting: Setting)
@import helper._

@main("view") {
    <div class="container">
        <br />
        <div>
            Company: @setting.name
        </div>
        <div>
            CEO: @setting.president
        </div>
        <div>
            <div style="display: inline-block; width: 150px;" >messages ( "startDate"): </div>
            <div style="display: inline-block; width: 150px;" id="startDate">@stardDate </div>
            <div style="display: inline-block; width: 150px;">messages ( "endDate"): </div>
            <div style="display: inline-block; width: 150px;" id="endDate">@endDate </div>
        </div>
        <div>
            <div style="display: inline-block; width: 150px;">messages ( "total"): </div>
            <div style="display: inline-block; width: 150px;" id="total"> @total messages ( "currency") </div>
        </div>
    </div>

    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>messages ( "customer")</th>
                    <th>messages ( "discount")</th>
                </tr>
            </thead>
            <tbody>
            @for(discount <- discounts) {
                <tr>
                <td>@discount.customerName</td>
                <td>@discount.discount</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
