@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: AuthenticatedRequest[Any], messages: Messages)
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Pagina Principal") {
    @examples.templates.nav(handler)
    <div class="table table-bordered">
        <table class="table table-bordered" id="clientes">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@messages("action")</th>
                </tr>
            </thead>
        </table>
    </div>
}
