@(row: Form[LoginForm])(implicit messages: Messages)

@import helper._

@main("Add") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/account_index.js")'></script>
    <div>
        <a href="/">@messages("home")</a>
    </div>
    @form(routes.LoginController.login()) {
        @inputText(row("user"), 'id -> "Login")
        @inputPassword(row("password"), 'id -> "Password")
        <input id="submitLogin" type="submit" value=@messages("login") class="btn btn-primary btn-sm"/>
    }
}
