@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rows: Seq[Measure])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Add") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("measureCreate"))) {
            <a href="/measure_add" class="btn btn-primary btn-sm">@messages("create")</a> 
        }
    </div>
    <div>
        @messages("unitOfMeasureList")
    </div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@messages("name")</th>
                    <th>@messages("units")</th>
                    <th>@messages("description")</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td></td>
                        <td>@row.name</td>
                        <td>@row.quantity</td>
                        <td>@row.description</td>
                        <td>
                            @restrict(roles = List(Array("measureEdit"))) {
                                <a href="/measure_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                            }
                            @restrict(roles = List(Array("measureDelete"))) {
                                <a href="/measure_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                            }
                            @restrict(roles = List(Array("measureShow"))) {
                                <a href="/measure_show/@row.id" class="btn btn-info btn-sm">@messages("view")</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
