@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Module, children: Seq[ProductRequest])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("moduleList"))) {
            <a href="/module_list" class="btn btn-primary btn-sm">List</a>
        }
        @restrict(roles = List(Array("moduleEdit"))) {
            <a href="/module_update/@row.id" class="btn btn-primary btn-sm">Edit</a>
        }
        @restrict(roles = List(Array("moduleDelete"))) {
           <a href="/module_remove/@row.id" class="btn btn-danger btn-sm">Remove</a>
        }
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;">Name: </div>
            <div style="display: inline-block;" id="name">@row.name</div>
        </div>
        <div>
            <div style="display: inline-block;">CEO: </div>
            <div style="display: inline-block;" id="president">@row.president</div>
        </div>
        <div>
            <div style="display: inline-block;">Description: </div>
            <div style="display: inline-block;" id="description">@row.description</div>
        </div>
    </div>
    <div class="container">
        <div>Orders</div>
        <div class="table table-bordered">
            <table class="table table-bordered" id="rows">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>-----------</th>
                    </tr>
                </thead>
                    <tbody>
                    @for(row <- children) {
                        <tr>
                            <td>@row.date</td>
                            <td>
                                @restrictOr(roles = List(Array("userShow"))) {
                                   <a href="/user_show/@row.userId">@row.userName
                                </a> 
                                }{
                                    @row.userName                                    
                                }
                            </td>
                            <td>@row.status</td>
                            <td>
                                @restrict(roles = List(Array("productRequestByInsumoEdit"))) {
                                    <a href="/productRequestByInsumo_update/@row.id" class="btn btn-primary btn-sm">Edit</a> 
                                }
                                @restrict(roles = List(Array("productRequestByInsumoDelete"))) {
                                    <a href="/productRequestByInsumo_remove/@row.id" class="btn btn-danger btn-sm">Remove</a>
                                }
                                @restrict(roles = List(Array("productRequestByInsumoShow"))) {
                                    <a href="/productRequestByInsumo_show/@row.id" class="btn btn-info btn-sm">view</a>
                                }
                                @restrict(roles = List(Array("productRequestByInsumoSend"))) {
                                    @if(row.status == "borrador") {
                                        <a href="/productRequestByInsumo_send/@row.id" class="btn btn-primary btn-sm">Enviar</a>
                                    }
                                }
                                @restrict(roles = List(Array("productRequestByInsumoFinish"))) {
                                    @if(row.status == "enviado") {
                                        <a href="/productRequestByInsumo_finish/@row.id" class="btn btn-primary btn-sm">Finalizar</a>
                                    }
                                }
                            </td> 
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div>Customeres</div>
        <div class="table table-bordered">
            <table class="table table-bordered" id="rows">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>CI</th>
                        <th>-----------</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

}
