@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Product, children: Seq[ProductInv], vendors: Seq[Vendor], vendorsByProduct: Seq[ProductVendor])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productList"))) {
            <a href="/product_list" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
        @restrict(roles = List(Array("productEdit"))) {
           <a href="/product_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a>
        }
        @restrict(roles = List(Array("productDelete"))) {
           <a href="/product_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
        <div >
            <div>
                <div style="display: inline-block;">@messages("name"): </div>
                <span style="display: inline-block;" id="name">@row.name</span>
            </div>
            <div>
                <div style="display: inline-block;">@messages("cost"): </div>
                <div style="display: inline-block;" id="cost">@row.cost</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("percent"): </div>
                <div style="display: inline-block;" id="percent">@row.percent</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("price"): </div>
                <div style="display: inline-block;" id="price">@row.price</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("description"): </div>
                <div style="display: inline-block;" id="description">@row.description</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("unitOfMeasure"): </div>
                <div style="display: inline-block;" id="measure">@row.measureName</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("stockLimit"): </div>
                <div style="display: inline-block;" id="stockLimit">@row.stockLimit</div>
            </div>
            <div>
                <div style="display: inline-block;">@messages("inStock"): </div>
                <div style="display: inline-block;" id="currentAmount">@row.currentAmount</div>
            </div>
            
        </div>
        <div class="container">
            <img src="@routes.Assets.versioned("images/@(row.id)_product.jpg")" width="200">
            @helper.form(action = routes.ProductController.upload(row.id), 'enctype -> "multipart/form-data") {
                <input type="file" name="picture">
                <input type="submit">
            }
        </div>
        <div class="container">
                <div style="display: inline-block;"><a href="/productInvs_add/@row.id" class="btn btn-primary btn-sm">@messages("addInventory")</a> </div>
            </div>
            <div class="table table-bordered">
                <table class="table table-bordered" id="rows">
                    <thead>
                        <tr>
                            <th>@messages("vendor")</th>
                            <th>@messages("measure")</th>
                            <th>@messages("quantity")</th>
                            <th>@messages("inStock")</th>
                            @restrict(roles = List(Array("productInv"))) {
                                <th>-----------</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for(child <- children) {
                            <tr>
                                <td>
                                    @restrictOr(roles = List(Array("vendorShow"))) {
                                       <a href="/vendor_show/@child.vendorId">@child.vendorName
                                    </a> 
                                    }{
                                        @child.vendorName                                    
                                    }
                                </td>
                                <td>
                                    @restrictOr(roles = List(Array("measureShow"))) {
                                       <a href="/measure_show/@child.measureId">@child.measureName
                                    </a> 
                                    }{
                                        @child.measureName                                    
                                    }
                                </td>
                                <td>@child.amount</td>
                                <td>@child.amountLeft</td>
                                @restrict(roles = List(Array("productInv"))) {
                                    <td>
                                       @restrict(roles = List(Array("productInvEdit"))) {
                                           <a href="/productInv_update/@child.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                                       }
                                       @restrict(roles = List(Array("productInvDelete"))) {
                                           <a href="/productInv_remove/@child.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                                       }
                                       @restrict(roles = List(Array("productInvShow"))) {
                                           <a href="/productInv_show/@child.id" class="btn btn-info btn-sm">@messages("view")</a>
                                       }
                                   </td> 
                               }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                            <div class="container">
                                <div style="display: inline-block;"><a href="/productInvs_add/@row.id" class="btn btn-primary btn-sm">@messages("assignedVendors")</a>
                                </div>
                            </div>
                            <div class="table table-bordered">
                                <table class="table table-bordered" id="rows">
                                    <thead>
                                        <tr>
                                            <th>@messages("vendorName")</th>
                                            @restrict(roles = List(Array("productEdit"))) {
                                                <th>-----------</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(assignedVendor <- vendorsByProduct) {
                                            <tr>
                                                </td>
                                                <td>@assignedVendor.vendorId</td>
                                                @restrict(roles = List(Array("role"))) {
                                                    <td>
                                                       @restrict(roles = List(Array("productEdit"))) {
                                                           <a href="/vendor_remove/@assignedVendor.id" class="btn btn-danger btn-sm">@messages("remove")</a> 
                                                       }
                                                   </td> 
                                               }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                         <div class="container">
                            <div style="display: inline-block;"><a href="/productInvs_add/@row.id" class="btn btn-primary btn-sm">@messages("availableVendors")</a>
                            </div>
                        </div>
                        <div class="table table-bordered">
                            <table class="table table-bordered" id="rows">
                                <thead>
                                    <tr>
                                        <th>@messages("vendorName")</th>
                                        @restrict(roles = List(Array("productEdit"))) {
                                            <th>-----------</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(vendor <- vendors) {
                                        <tr>
                                            </td>
                                            <td>@vendor.name</td>
                                            @restrict(roles = List(Array("role"))) {
                                                <td>
                                                   @restrict(roles = List(Array("productEdit"))) {
                                                       <a href="/vendor_assign/@row.id/@vendor.id" class="btn btn-primary btn-sm">@messages("add")</a> 
                                                   }
                                               </td> 
                                           }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
}
