@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: ProductInv, rowForm: Form[UpdateProductInvForm], products: Map[String, String], vendors: Map[String, String], measures: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Update") {
    @examples.templates.nav(handler)
	<div class="container">
      @restrict(roles = List(Array("productShow"))) {
            <a href="/product_show/@row.productId" class="btn btn-primary btn-sm">@messages("product")</a> 
        }
        @restrict(roles = List(Array("productInvEdit"))) {
           <a href="/productInv_show/@row.id" class="btn btn-info btn-sm">@messages("view")</a>
        }
        @restrict(roles = List(Array("productInvDelete"))) {
           <a href="/productInv_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    @form(routes.ProductInvController.updatePost()) {
        @select(field = rowForm("productId"), options = options(products))
        @select(field = rowForm("vendorId"), options = options(vendors))
        @select(field = rowForm("measureId"), options = options(measures))
        @inputText(rowForm("amount"))
        @inputText(rowForm("amountLeft"))
        <input type="submit" value=@messages("update") class="btn btn-primary btn-sm"/>
        <a href="/productInv_show/@row.id" class="btn btn-primary btn-sm">@messages("cancel")</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
    }
}
