@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rowSearch: Form[SearchProductForm], rows: Seq[Product])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._


@main("Add") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productCreate"))) {
                                <a href="/product_add" class="btn btn-primary btn-sm">@messages("new")</a> 
        }
        @restrict(roles = List(Array("productList"))) {
            <a href="/product_list" class="btn btn-primary btn-sm">@messages("list")</a> 
        }
        @restrict(roles = List(Array("productCreate"))) {
                                <a href="/product_reorder_list" class="btn btn-primary btn-sm">Reorder List</a> 
        }
    </div>

    <div class="container">
        @form(routes.ProductController.searchProductPost()) {
            @inputText(rowSearch("search"))
            <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
        }
    </div>

    <div class="container">
        @messages("productList")
    </div>
    <div class="table table-bordered">
        <table class="table table-bordered conted" id="rows">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@messages("name")</th>
                    <th>@messages("cost")</th>
                    <th>@messages("percent")</th>
                    <th>@messages("price")</th>
                    <th>@messages("measure"): </th>
                    <th>@messages("stockLimit")</th>
                    <th>@messages("inStock")</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td></td>
                        <td>@row.name</td>
                        <td>@row.cost</td>
                        <td>@row.percent</td>
                        <td>@row.price</td>
                        <td>@row.measureName</td>                        
                        <td>@row.stockLimit</td>
                        <td>@row.currentAmount</td>
                        <td>
                            @restrict(roles = List(Array("productEdit"))) {
                                <a href="/product_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                            }
                            @restrict(roles = List(Array("productDelete"))) {
                                <a href="/product_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                            }
                            @restrict(roles = List(Array("productShow"))) {
                                <a href="/product_show/@row.id" class="btn btn-info btn-sm">@messages("view")</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
               
            </tfoot>
        </table>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/product_index.js")'></script>

    </div>
}
