@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: ProductInv)(implicit messages: Messages, request: Request[Any])
@import helper._
@import be.objectify.deadbolt.scala.views.html._

@main("view") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productShow"))) {
            <a href="/product_show/@row.productId" class="btn btn-primary btn-sm">@messages("product")</a> 
        }
        @restrict(roles = List(Array("productInvEdit"))) {
           <a href="/productInv_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a>
        }
        @restrict(roles = List(Array("productInvDelete"))) {
           <a href="/productInv_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> @messages("product"): </div>
            <div style="display: inline-block;" id="productId">@row.productName</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("vendor"): </div>
            <div style="display: inline-block;" id="vendorId">@row.vendorName</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("measure"): </div>
            <div style="display: inline-block;" id="vendorId">@row.measureName</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("amount"): </div>
            <div style="display: inline-block;" id="amount">@row.amount</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("amountLeft"): </div>
            <div style="display: inline-block;" id="amountLeft">@row.amountLeft</div>
        </div>
    </div>
}
