@(row: Form[CreateProductInvForm], products: Map[String, String], vendors: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Add") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productInv_request.js")'></script>
    <div>
        <a href="/employee_profile/1"><span class="glyphicon glyphicon-plus">@messages("employee")</span></a>
    </div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows_1">
            <thead>
                <tr>
                    <th>@messages("product")</th>
                    <th>@messages("vendor")</th>
                    <th>@messages("amount")</th>
                    <th>@messages("amountLeft")</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table table-bordered">
        <table class="table table-bordered" id="rows_2">
            <thead>
                <tr>
                    <th>@messages("product")</th>
                    <th>@messages("vendor")</th>
                    <th>@messages("amount")</th>
                    <th>@messages("amountLeft")</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
