@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rowId: Long, row: Form[UpdateProductRequestByInsumoForm], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Update") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productRequestByInsumoList"))) {
            <a href="/productRequestByInsumo_list" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
        @restrict(roles = List(Array("productRequestByInsumoShow"))) {
           <a href="/productRequestByInsumo_show/@rowId" class="btn btn-info btn-sm">@messages("view")</a>
        }
        @restrict(roles = List(Array("productRequestByInsumoDelete"))) {
           <a href="/productRequestByInsumo_remove/@rowId" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    @form(routes.ProductRequestByInsumoController.updatePost()) {
        @inputText(row("date"))
        @select(field = row("userId"), options = options(users))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("detail"))
        <input type="submit" value=@messages("update")  class="btn btn-primary btn-sm"/>
        <a href="/productRequestByInsumo_show/@rowId"  class="btn btn-primary btn-sm">@messages("cancel")</a>
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
    }
}
