@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: RequestRow, drivers: Seq[RequestRowCustomer])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productRequestByInsumoShow"))) {
            <a id="goRequest" href="/productRequestByInsumo_show/@row.requestId" class="btn btn-info btn-sm">@messages("order")</a>
        }
        @restrict(roles = List(Array("requestRowEdit"))) {
            <a href="/requestRowByInsumo_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
        }
        @restrict(roles = List(Array("requestRowDelete"))) {
           <a href="/requestRowByInsumo_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> @messages("request"):</div>
            <div style="display: inline-block;" id="requestId">@row.requestId</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("product"): </div>
            <div style="display: inline-block;" id="productName">
            @restrictOr(roles = List(Array("productShow"))) {
               <a href="/product_show/@row.productId">@row.productName </a>
            }{
                @row.productName
            }
        </div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("quantity"): </div>
            <div style="display: inline-block;" id="quantity">@row.quantity</div>
        </div>
        <div>
            <div style="display: inline-block;">@messages("paid"): </div>
            <div style="display: inline-block;" id="quantity">@row.paid</div>
        </div>
        <div>
            <div style="display: inline-block;">@messages("paidDriver")</div>
            <div style="display: inline-block;" id="quantity">@row.paidDriver</div>
        </div>
        <div>
            <div style="display: inline-block;"> @messages("status"): </div>
            <div style="display: inline-block;" id="status">@row.status</div>
        </div>
    </div>
    <div>
            <div style="display: inline-block;"> <a id="payTransport" href="/requestRowDriver_add/@row.id"  class="btn btn-primary btn-sm">@messages("paidtoDriver")</a> </div>
    </div>

    <div>@messages("transportPays")</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>@messages("driver")</th>
                    <th>@messages("quantity")</th>
                    <th>@messages("paidAmount")</th>
                    <th>@messages("status")</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(child <- drivers) {
                    <tr>
                        <td>@child.quantity</td>
                        <td>@child.paid</td>
                        <td>@child.status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
