@(handler: be.objectify.deadbolt.scala.DeadboltHandler, requestRow: RequestRowCustomer, row: Form[UpdateRequestRowDriverForm], requests: Map[String, String], productos: Map[String, String], drivers: Map[String, String], measures: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Update") {
    @examples.templates.nav(handler)
    <div class="container">
    	@restrict(roles = List(Array("requestRowShow"))) {
            <a href="/requestRowByInsumo_show/@requestRow.requestRowId" class="btn btn-primary btn-sm">@messages("orderDetail")</a>
        }
        @restrict(roles = List(Array("requestRowCustomerShow"))) {
            <a href="/requestRowCustomer_show/@requestRow.id" class="btn btn-info btn-sm">@messages("view")</a>
        }
        @restrict(roles = List(Array("requestRowCustomerDelete"))) {
           <a href="/requestRowCustomer_remove/@requestRow.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    @form(routes.RequestRowCustomerController.updateDriverPost()) {
        @select(field = row("productId"), options = options(productos))
        @select(field = row("customerId"), options = options(drivers), '_label -> "Transportador")
        @inputText(row("paid"))
        @inputText(row("credit"))
        @inputText(row("status"))
        @inputText(row("observation"))
        <input type="submit" value=@messages("update")  class="btn btn-primary btn-sm"/>
        <a href="/requestRowCustomer_show/@requestRow.id" class="btn btn-primary btn-sm">@messages("cancel")</a>
        @inputText(row("quantity"), 'hidden -> "true", '_label -> "")
        @select(field = row("measureId"), options = options(measures)), 'hidden -> "true", '_label -> "")
        @inputText(row("totalPrice"), 'hidden -> "true", '_label -> "")
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @select(field = row("requestRowId"), options = options(requests), 'hidden -> "true", '_label -> "")
    }
}
