@(products: Map[String, String], vendors: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Add") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/requestRow_index.js")'></script>
    <div>
        <a href="/"><span class="glyphicon glyphicon-plus">@messages("home")</span></a>
    </div>
    <div>@messages("ordersList")</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>@messages("requestId")</th>
                    <th>@messages("productId")</th>
                    <th>@messages("quantity")</th>
                    <th>@messages("status")</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
