@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateTransactionFormOutcome], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Create") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("transactionList"))) {
          <a href="/transaction_list" class="btn btn-info btn-sm">@messages("toList")</a>
        }
    </div>
    @form(routes.TransactionController.addOutcome()) {
    	@inputDate(row("date"), '_label -> "Date", 'id -> "date")
        @select(field = row("type_1"), options = options(Map("Outcome" -> "Outcome")), '_label -> "Transaction type", 'id -> "type")
        @inputText(row("description"), 'id -> "description")
        @select(field = row("receivedBy"), options = options(users), 'id -> "receivedBy")
        @select(field = row("autorizedBy"), options = options(users), 'id -> "autorizedBy")
        <input id="addSubmit" type="submit" value="Inicial transaccion" class="btn btn-primary btn-sm"/>
        <a id="" href="/transaction_list" class="btn btn-primary btn-sm">@messages("cancel")</a>
    }
}
