@import helper._

@main("Add") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/transactionDetail_index.js")'></script>
    <div>
        <a href="/"><span class="glyphicon glyphicon-plus">Home</span></a>
    </div>
    <div>
        Product List
    </div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Vendor</th>
                    <th>Discount</th>
                    <th>Amount Left</th>
                    <th>-----------</th>
                </tr>
            </thead>            
        </table>
    </div>
}
