@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateUserForm], types: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Add") {
    @examples.templates.nav(handler)
    <div>
        @restrict(roles = List(Array("userList"))) {
            <a href="/user_list" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
    </div>

    @form(routes.UserController.add()) {
        <div class="container">
        <div>
            @inputText(row("name"), 'id -> "name")
            @inputText(row("carnet"), 'id -> "carnet")
            @inputText(row("phone"), 'id -> "phone")
            @inputText(row("login"), 'id -> "login")
            @inputText(row("password"), 'id -> "password")
            @inputText(row("address"), 'id -> "address")
            @inputText(row("Salary"), 'id -> "salary")
            @select(field = row("type_1"), options = options(types), 'id -> "typeId")
            <input type="submit" id="addSubmit" value=@messages("save") class="btn btn-primary btn-sm"/>
            <a id="cancel" href="/user_list" class="btn btn-primary btn-sm">@messages("cancel")</a>
        </div>
        </div>
    }

}
