@(handler: be.objectify.deadbolt.scala.DeadboltHandler, users: Seq[User])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Add") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("userCreate"))) {
            <a href="/user_add" class="btn btn-primary btn-sm">@messages("add")</a> 
        }
    </div>
    
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>@messages("name")</th>
                    <th>@messages("ci")</th>
                    <th>@messages("phone")</th>
                    <th>@messages("type")</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- users) {
                    <tr>
                        <td>@row.name</td>
                        <td>@row.carnet</td>
                        <td>@row.phone</td>
                        <td>@row.type_1</td>
                        <td>
                            @restrict(roles = List(Array("userEdit"))) {
                                <a href="/user_update/@row.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
                            }
                            @restrict(roles = List(Array("userDelete"))) {
                                <a href="/user_remove/@row.id" class="btn btn-danger btn-sm">@messages("remove")</a>
                            }
                            @restrict(roles = List(Array("userShow"))) {
                                <a href="/user_show/@row.id" class="btn btn-info btn-sm">@messages("view")</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
